.header__container {
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    z-index: 1;
}

@media screen and (max-width: 590px) {
    .header__container {
        padding-top: 28px;
    }
}
