.profile__conteiner {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: fit-content(294px) fit-content(24px);
    grid-template-rows: auto auto;
    align-items: end;
    column-gap: 18px;
    row-gap: 16px;
    padding: 0;
    margin: auto auto auto 0;
}

@media screen and (min-width: 800px) {
    .profile__conteiner {
        margin-left: 30px;
    }
}
@media screen and (max-width: 799px) {
    .profile__conteiner {
        grid-template-columns: fit-content(189px) fit-content(18px);
        column-gap: 10px;
        row-gap: 10px;
        margin: 0 auto;
    }
}