.footer {
    flex-shrink: 0;
    margin: 0 auto;
    align-items: flex-start;
    padding: 66px 0 60px;
}

@media screen and (min-width: 1110px) {
    .footer {
        width: 880px;
    }
}


@media screen and (min-width: 401px) and (max-width: 1109px) {
    .footer {
        width: 80%;
    }
}

@media screen and (min-width: 320px) and (max-width: 400px) {
    .footer {
        max-width: 282px;
        flex-direction: row;
        padding: 48px 0 36px;
    }
}