.element__quote {
    margin: 0;
    padding: 0;
    margin-bottom: 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #000;
    font-style: normal;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
}