.header__menu_opened {
    padding: 0;
    max-height: 0;
}

@media screen and (max-width: 590px) {
    .header__menu_opened{
        visibility: visible;
        padding: 40px 0;
        max-height: 200px;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid rgba(84, 84, 84, 0.7);
        transition: all 1s ease-in-out;
    }   
}