.element__trash {
    visibility: hidden;
    position: absolute;
    background-image: url(../../../images/Trash.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 19px;
    top: 18px;
    right: 15px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease;
}

.element__trash:hover {
    opacity: 0.6;
}