.elements__container {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    justify-content: center;
    grid-auto-flow: row;
    row-gap: 20px;
    column-gap: 17px;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 400px) {
    .elements__container {
        column-gap: 0;
    }
}