.image-tittle {
    margin-top: 10px 0 0;
    padding: 0;
    color: #fff;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    font-style: normal;
    background-color: transparent;
}