.popup__input {
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 9px;
    font-weight: 400;
    font-style: normal;

    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
}
